<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=PT+Sans+Narrow&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>


  <title>Botovod</title>
</head>

<body>
  <div id="app">
    <div class="container">



      <div class="row">
        <header class="p-2 border-bottom">
          <div id="appTabBtns" class="d-flex flex-wrap align-items-center justify-content-between">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
              <img src="./css/logov2.png" class="bi me-2" width="60" height="40">
            </a>
          </div>
        </header>
      </div>

      <div class="row">



        <!-- BOTS -->
        <div class="">

          <ul class="list-group m-2">
            <li class="d-flex justify-content-end align-items-center">
              Всего ботов:
              <span class="badge bg-primary ml-15">
                {{ bots.length }}
              </span>
            </li>
            <li class="d-flex justify-content-end align-items-center">
              Всего выбрано:
              <span class="badge bg-primary ml-15">
                {{ selectedBots.length }}
              </span>
            </li>
            <li class="d-flex justify-content-end align-items-center">
              Всего задач:
              <span class="badge bg-primary ml-15">
                {{ selectedBots.length }}
              </span>
            </li>
            <li class="d-flex justify-content-end align-items-center">
              Баланс:
              <span class="badge bg-primary ml-15">
                {{ bots.reduce( (a, b) => a + b.Balance, 0) }}
              </span>
            </li>
          </ul>

          <div v-if="progress" class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>

          <div class="p-2 d-flex justify-content-between">
            <button @click="toggleSelected" title="Выделить всё" type="button" class="btn btn-light">
              <img src="./css/select.svg" />
            </button>
            <button title="Добавить задачу" type="button" data-bs-toggle="modal"
            data-bs-target="#addTaskDialog" class="btn btn-light shadow-sm bg-body rounded">
            <img src="./css/tasks.svg" />
            New task
          </button>
          </div>

          <div v-if="false" class="d-none d-flex justify-content-md-end">
            <button title="Добавить бот" type="button" class="btn btn-light" data-bs-toggle="modal"
              data-bs-target="#addBotDialog">
              <img src="./css/folder.svg" />
            </button>
            <button title="Обновить" v-if="self?.role === 'admin'" :disabled="selectedBots.length === 0" type="button"
              @click="updateSelectedBots" class="btn btn-light">
              <img src="./css/reload.svg" />
            </button>
            <button title="Добавить задачу" :disabled="selectedBots.length === 0" type="button" data-bs-toggle="modal"
              data-bs-target="#addTaskDialog" class="btn btn-light">
              <img src="./css/tasks.svg" />
            </button>
            <button @click="toggleSelected" title="Выделить всё" type="button" class="btn btn-light">
              <img src="./css/select.svg" />
            </button>
            <button title="Удалить" :disabled="selectedBots.length === 0" @click="deleteBotsHandle()" type="button"
              class="btn btn-light">
              <img src="./css/trash.svg" />
            </button>
          </div>


          <table class="table caption-top">
            <thead>
              <tr class="bg-light">
                <th scope="col">#</th>
                <th scope="col">Ник</th>
                <th scope="col">Статус</th>
                <th scope="col">Баланс</th>
                <th scope="col">Бонус(д)</th>
                <th class="d-none d-md-table-cell" scope="col">Дата</th>
              </tr>
            </thead>
            <tbody>

              <tr  class="border-top" v-on:dblclick="toggleRow(bot)"  v-bind:class="{ selected: selectedBots.includes(bot) }" v-for="(bot, i) in botsContainer" :key="bot.ID">
                <td scope="row">{{ (botsContainerStep * 5) + i + 1 }}</td>
                <td class="w-50">
                  {{ bot.Name === "" ? "asdadads" : bot.Name }}
                </td>
                <td>{{ bot.Result === "" ? "need update" : bot.Result }}</td>
                <td>{{ bot.Balance }}</td>
                <td>{{ bot.BonusDay }}</td>
                <td class="d-none d-md-table-cell">{{ bot.LastUseDay === "" ? new Date().toLocaleDateString() :
                  bot.LastUseDay }}</td>
              </tr>
              
            </tbody>
          </table>
          <div v-if="botsContainer.length === 0" class="w-100">
            <p class="form-text empty-table">
              Нет данных
            </p>
          </div>
          <div class="d-flex justify-content-center">
            <div class="btn-group" role="group">
              <button @click="updateBotsContainerStep(-1)" type="button" class="btn color-white btn-info">
                < НАЗАД</button>
                  <button @click="updateBotsContainerStep(1)" type="button" class="btn color-white btn-info"> ВПЕРЕД ></button>
            </div>
          </div>
        </div>


        <!--DIALOG ADD TASK -->
        <div class="modal fade" id="addTaskDialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New task
                  <span v-if="hideTask">
                    ({{ selectedBots.length }})
                  </span>
                </h5>
                <button type="button" id="taskAddDialogClose" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <fieldset>
                    <legend>Создания новой задачи</legend>
                    <div class="mb-3">
                      <select id="newTask" v-model="selectTask" class="form-select">
                        <option value="1">Загрузить ботов</option>
                        <option value="2">Отправить Розу</option>
                        <option value="3">Отправить Розу (FREE)</option>
                        <option value="4">Отправить Сердечко</option>
                        <option value="5">Отправить Сердечко (FREE)</option>
                        <option value="6" class="">Удалить</option>

                      </select>
                    </div>
                    <div v-if="hideTask"  class="mb-3">
                      <label for="disabledTextInput" class="form-label">player ID</label>
                      <input type="text" id="disabledTextInput" class="form-control" placeholder="id">
                    </div>
                    <div v-if="hideTask"    class="mb-3">
                      <label for="disabledTextInput" class="form-label">Кол-во</label>
                      <input type="text" id="disabledTextInput2" class="form-control" placeholder="1">
                    </div>
                  </fieldset>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" @click="addTaskClick()" class="btn btn-primary w-100">
                  Создать
                </button>
              </div>
            </div>
          </div>
        </div>

        <!--DIALOG ADD BOT -->
        <div class="modal fade" id="addBotDialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New bot</h5>
                <button type="button" id="botAddDialogClose" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="frameUrlID">Ссылка на фрейм</label>
                  <input v-model="frameUrl" type="email" class="form-control" id="frameUrlID" placeholder="">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" @click="addBotClick()" :disabled="frameUrl === ''" class="btn btn-primary w-100">
                  GO
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="js/app.js"></script>
</body>

</html>